<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %} - Committee Room</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Metro 4 -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="sortcut icon" href="{{ url_for('static', filename='img/cr_icon.svg') }}">

    <style>
        .app-bar-menu li {
            list-style: none !important;
        }
    </style>

</head>
<body>
<div id="app">
    <header class="site-header clear-pseudo-elms">
        <nav class="container clear-pseudo-elms">
            <a class="logo fg-red" href="/">
                <img src="{{ url_for('static', filename="img/cr_icon.svg") }}">
                Committee<b>Room</b>
            </a>
            <ul class="menu">
                {% if not current_user.is_authenticated %}

                    <li>
                        <a class="button dark outline" href="{{ url_for('auth.register') }}">
                            Register
                        </a>
                    </li>

                    <li><a class="button link fg-dark" href="{{ url_for('auth.login') }}">Sign in</a></li>

                {% else %}
                    <li>
                   <span class="fg-dark">
                       {{ current_user.person.full_name }}
                   </span>
                    </li>
                    <li>
                        <a class="button outline dark small" href="{{ url_for('auth.logout') }}">Log out</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="red-bar container"></div>

    {% if current_user.is_authenticated %}
        <section class="container">
            <nav class="main-menu">
                <ul class="h-menu no-hover">
                    <li><a href="#">News</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Teams</a></li>
                    <li><a href="#">Organisation</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </nav>
        </section>
    {% endif %}

    <main class="main container">
        <div class="row">
            {% if self.sidebar() %}
                <aside class="min-lg cell-lg-3 v-space">
                    {% block sidebar %}{% endblock %}
                </aside>
            {% endif %}

            <section class="main-content cell">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="remark {{ category }}">
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                {% block content %}{% endblock %}

            </section>
        </div>

    </main>


    <footer class="footer bg-grey clear-pseudo-elms">
        <div class="container clear-pseudo-elms">
            <section class="row footer-header clear-pseudo-elms">
                <h5 class="fg-lightRed m-0">
                    Committee<b class="is-logo">Room</b>
                </h5>
                <nav>
                    <ul class="footer-menu">
                        <li>
                            <a href="#" class="fg-steel">About</a>
                        </li>
                        <li>
                            <a class="fg-steel" href="{{ url_for('home.page', title="data") }}">Data Protection</a>
                        </li>
                        <li>
                            <a class="fg-steel" href="#">Contact</a>
                        </li>
                    </ul>
                </nav>
            </section>
            <section class="row">
                <p class="legal">
                    Promoted by A W Hall on behalf of North West Cambridgeshire Constituency Labour Party,
                    both at 11 Kennedy Street, Hampton Vale, Peterborough, PE7 8JY.
                </p>
            </section>
        </div>


    </footer>
</div>
<!-- Metro 4 -->
<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
{% block script %}
{% endblock %}
</body>
</html>