{% macro hfield(field, description=None) -%}
    <section class="is-row form-item">
        <div class="is-col is-30">
            {{ field.label }}
            {% if description %}
                <p class="is-muted is-small">{{ description }}</p>
            {% endif %}
        </div>
        <div class="is-col is-70">
            {{ field(class="is-error" if field.errors) }}
            {% for error in field.errors %}
                <div class="is-error">{{ error }}</div>
            {% endfor %}
        </div>
    </section>
{%- endmacro %}