{% extends "layouts/main.html" %}
{% block title %}Login{% endblock %}

{% block content %}

    <article class="container-skinny">
        <h1>Login</h1>

        <form action="" method="post" novalidate autocomplete="off">
            {{ form.hidden_tag() }}

            <section class="form-group">
                {{ form.email.label }}
                {{ form.email(class="error" if form.email.errors, data_role="input") }}
                {% for error in form.email.errors %}
                    <small class="invalid-feedback">{{ error }}</small>
                {% endfor %}
            </section>

            <section class="form-group">
                {{ form.password.label }}
                {{ form.password(class="alert" if form.password.errors, data_role="input") }}
                {% for error in form.password.errors %}
                    <small class="invalid-feedback">{{ error }}</small>
                {% endfor %}
            </section>

            <section class="form-group">
                <input type="checkbox"
                       name="remember_me"
                       data-role="checkbox"
                       data-style="2"
                       data-caption="Remember me"
                >
            </section>

            <section class="form-group">
                {{ form.submit(class="button secondary") }}
                <a class="button link" href="#">I've forgotten my password</a>
            </section>

        </form>
    </article>

{% endblock %}