{% extends "layouts/main.html" %}
{% import "macros/field.html" as field %}
{% block title %}Volunteer | Done{% endblock %}


{% block content %}
    <section>
        <h1>Thank you</h1>
        <p>
            We can only win elections and make a difference with the help of everyone who supports Labour, so thank you.
        </p>
        <h2>Verification</h2>
    <p>
        You should now receive an email with a link requiring you to confirm your account.
    </p>
    </section>


{% endblock %}