{% extends "layouts/main.html" %}
{% import "macros/field.html" as field %}
{% block title %}Volunteer | Your Details{% endblock %}


{% block content %}

    <article class="container-skinny">
        <header style="margin-bottom: 1.5rem">
            <h1>Your details</h1>
            <p>
                First, tell us who you are and how we can contact you.
            </p>
        </header>
        <form action="" method="post" novalidate class="is-ruled">
            {{ form.hidden_tag() }}
            <section class="form-group border">
                <label for="first_name">
                    Name
                </label>
                <div class="form-group">
                    {{ form.first_name(class="error" if form.first_name.errors, data_role="input", data_prepend="First name") }}
                    {% for error in form.first_name.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.last_name(class="error" if form.last_name.errors, data_role="input", data_prepend="Last name") }}
                    {% for error in form.last_name.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
            </section>

            {{ field.hfield(form.email) }}

            {{ field.hfield(form.tel_no, "Enter your mobile phone number") }}

            <section class="form-group border">
                {{ form.post_code.label }}
                <p class="text-muted" style="font-size: small">
                    Enter your home post code so we can work out which constituency you vote in.
                </p>
                {{ form.post_code(class="error" if form.post_code.errors, style="max-width: 12em") }}
                {% for error in form.post_code.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </section>

            <section class="form-group">
                {{ form.submit(class="button secondary") }}
            </section>


        </form>
    </article>

{% endblock %}